:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Garante que o app ocupe a altura toda da tela
}

.main-toolbar {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1;
  padding: 20px;
}

.main-footer {
  background-color: #f5f5f5;
  color: #666;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;

  .footer-link {
    color: #3f51b5; // Cor do link (pode ser a mesma do primary)
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;

    &:hover {
      color: #ff4081; // Muda de cor ao passar o mouse
      text-decoration: underline;
      cursor: pointer;
    }

  }

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
}
