.container {
  padding: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  height: 100%; // Garante que todos os cards tenham o mesmo tamanho
}
